@using TravelExperts.Models.ViewModel
@model AccountHistoryVM
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "~/Views/Account/_Layout.cshtml";

    }
    ViewData["Title"] = "Order History";
}

<main>
    <div class="container">
       
        <div class="row">
            <div class="col">
                <h2>@Model.Customers.CustFirstName.ToString()'s Order History</h2>
                <p class="my-2">
                    View your past and future vacations here. 
                </p>
                <table class="table-bordered text-center" style="width:90%">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Bookings.First().BookingNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bookings.First().BookingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bookings.First().TravelerCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bookings.First().TripTypeId)
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                    @foreach (var item in Model.Bookings)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(AccountHistoryVM => item.BookingNo)
                            </td>
                            <td>
                                @Html.Raw(item.BookingDate?.ToShortDateString())
                            </td>
                            <td>
                                @Html.DisplayFor(AccountHistoryVM => item.TravelerCount)
                            </td>
                            <td>
                                @Html.DisplayFor(AccountHistoryVM => item.TripTypeId)
                            </td>
                            <td>
                                @Html.DisplayFor(AccountHistoryVM => item.PackageId)
                            </td>
                        </tr>
                    }
                </table>
                
            </div>
        </div>
    </div>
</main>