@model AccountHistoryVM
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Order History";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>@Model.Customers.CustFirstName's Order History</h2>
                <p class="my-2">
                    View your past and future vacations here.
                </p>
                <table class="table-bordered text-center" style="width:90%;margin: 0 auto;">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Bookings.First().BookingNo)</th>
                        <th>@Html.DisplayNameFor(model => model.Bookings.First().BookingDate)</th>
                        <th>@Html.DisplayNameFor(model => model.Bookings.First().TravelerCount)</th>
                        <th>@Html.DisplayNameFor(model => model.Bookings.First().TripType)</th>
                        <th>Package</th>
                        <th>Price</th>
                    </tr>
                    @foreach (var item in Model.Bookings)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.BookingNo)</td>
                            <td>@Html.Raw(item.BookingDate?.ToShortDateString())</td>
                            <td>@Html.DisplayFor(model => item.TravelerCount)</td>
                            <td>@Html.DisplayFor(model => item.TripTypeId)</td>
                            <td>@(ViewBag.PackageNames[item.PackageId])</td>
                            <td>@(ViewBag.PackagePrices[item.PackageId].ToString("c"))</td>
                        </tr>
                    }
                </table>
                <div class="d-flex justify-content-end mt-3">
                    <h3>Total Price: @ViewBag.TotalPrice.ToString("c")</h3>
                </div>
            </div>
            <div>
                <a asp-controller="Package" asp-action="Index" class="btn btn-warning">Back to Packages</a>
            </div>
        </div>
    </div>
</main>
