@model CardVM

<link rel="stylesheet" href="~/css/site.css" />


<div class="col-12 col-sm-6 col-xl-3">
    <div class="card border-0 border-bottom border-primary shadow-sm">
        <div class="card-body text-center p-4 p-xxl-5">
            @if (Model.ImageUrl.EndsWith(".svg"))
            {
                @SvgHelper.InlineSvg(Model.ImageUrl)
            }
            else
            {
                <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid mb-4" style="width:20px;height:20px;" />
            }
            <h4 class="mb-4">@Model.Name</h4>
            <p class="mb-4 text-secondary">@Model.Desc</p>
        </div>
    </div>
</div>
